@font-face {
  font-family: 'DMSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
      url('../fonts/DMSans-Regular.woff2') format('woff2'),
      url('../fonts/DMSans-Regular.woff') format('woff'),
      url('../fonts/DMSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
      url('../fonts/DMSans-Medium.woff2') format('woff2'),
      url('../fonts/DMSans-Medium.woff') format('woff'),
      url('../fonts/DMSans-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('DMSans-Bold'),
      url('../fonts/DMSans-Bold.woff2') format('woff2'),
      url('../fonts/DMSans-Bold.woff') format('woff'),
      url('../fonts/DMSans-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Poppins-Bold'),
      url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff'),
      url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Rubik-Light'),
      url('../fonts/Rubik-Light.woff2') format('woff2'),
      url('../fonts/Rubik-Light.woff') format('woff'),
      url('../fonts/Rubik-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
      url('../fonts/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik-Regular.woff') format('woff'),
      url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
      url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff'),
      url('../fonts/Rubik-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Rubik-Bold'),
      url('../fonts/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik-Bold.woff') format('woff'),
      url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?48215135');
      src: url('../fonts/fontello.eot?48215135#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?48215135') format('woff'),
           url('../fonts/fontello.ttf?48215135') format('truetype'),
           url('../fonts/fontello.svg?48215135#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }