html,
body {
  height: 100%;
  background-color: $bg;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h3 {
  font-size: 36px;
  font-family: "DMSans-Bold";
  color: #191919;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

h4 {
  font-size: 20px;
  font-family: "DMSans-Bold";
  color: #1a1a1a;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

h5 {
  font-size: 18px;
  font-family: "DMSans-Bold";
  color: #414141;
  font-weight: 700;
  line-height: 2.222;
  text-align: left;
}

h6 {
  font-size: 16px;
  font-family: "DMSans-Bold";
  color: #8b8b8b;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

p {
  font-family: 'Rubik-Regular';
  font-size: 16px;
  color: #243f4d;
  line-height: 1.875;
  text-align: left;
}

