@media (max-width: 1200px) {
  .blog-page {
    padding: 90px 0;
    &__container {
      flex-direction: column;
    }
    &__aside {
      order: -1;
    }
    &__content {
      width: 100%;
      max-width: 100%;
    }
    &__content-img img {
      width: 100%;
    }
  }  
  .filter-category,
  .recent-posts {
    display: none;
  }
  .shop__filters {
    width: 100%;
  }
  .about-main {
    flex-direction: column;
    &__img-box {
      margin-right: 0;
    }
  }
  .contact {
    &__inner {
      justify-content: space-around;
    }
    &__item {
      width: 300px;
    }
  }
}

@media (max-width: 1100px) {
  .team {
    &__wrapper {
      flex-direction: column;
    }
    &__description {
      max-width: 100%;
      margin-bottom: 50px;
    }
    &__gallery {
      max-width: 100%;
      justify-content: space-around;
    }
    &__item {
      margin: 10px;
    }
    &__img {
      width: auto;
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    padding: 80px 0 50px;
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      display: block;
      width: 100%;
      margin: 10px;
    }
  }
  .message {
    &__box {
      flex-direction: column;
    }
    &__form {
      max-width: 100%;
      margin-bottom: 40px;
    }
    &__input-box {
      flex-direction: column;
    }
    &__input {
      width: 100%;
      max-width: 100%;
    }
  }
  .product-page {
    &__inner {
      flex-direction: column;
    }
    &__slide {
      justify-content: center;
    }
    &__content {
      max-width: 100%;
    }
  }
}

@media (max-width: 820px) {
  .blog-page {
    padding: 60px 0;
    &__content-title {
      line-height: 1.2;
    }
  }
  .partners {
    margin-top: 50px;
    padding-top: 10px;
    &__list {
      flex-wrap: wrap;
      height: auto;
    }
    &__item {
      margin: 20px 30px;
    }
  }
  .about-stat {
    &__inner {
      flex-wrap: wrap;
      padding-top: 30px;
    }
    &__item {
      margin: 0 43px;
      padding-top: 120px;
    }
  }
  .product-page__inner {
    margin-bottom: 70px;
  }
  .product-tabs {
    &__top {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }
    &__top-item {
      margin-bottom: 20px;
      width: 100%;
      +.product-tabs__top-item {
      margin-left: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .blog-page {
    &__content-info {
      padding: 18px;
      height: 50px;
      transform: translateY(-50px);
    }
  }
  .blog-one {
    &__info-box {
      flex-direction: column;
    }
    &__tags-box {
      margin-left: 104px;
      margin-top: 5px;
    }
  }
  .comments__img {
    display: none;
  }
  .about-stat {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
  }
  .about-main {
    &__content-box {
      padding-top: 45px;
      padding-bottom: 25px;
    }
    &__info-box {
      padding-top: 20px;
      flex-direction: column;
      align-items: center;
      &::before {
        width: 100%;
      }
    }
    &__info-item {
      margin-top: 40px;
    } 
  }
  .blog {
    &__top {
      flex-wrap: wrap;
    }
    &__top-title {
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  .product-slide {
    margin-bottom: 30px;
    &__left-box {
      display: none;
    }
    &__right-box {
      max-width: 100%;
    }
  }
  .jq-number {
    margin-bottom: 25px;
  }
  .product-page__form {
    margin-bottom: 25px;
  }
  .product-related {
    & button {
      top: -50px;
    }
  }   
}

@media (max-width: 400px) {
  .blog-one {
    &__author-box {
      img {
        display: none;
      }
    }
    &__tags-box {
      margin-left: 0;
    }
    &__form-input-box {
      flex-direction: column;
    }
    &__form-input {
      width: 100%;
    }
  }
  .comments__item:nth-child(odd) {
    padding-left: 60px;
  }
  .team {
    &__item-box {
      max-width: 300px;
      padding: 20px 11px;
    }
  }
  .blog {
    &__top-title {
      font-size: 30px;
    }
    &__item {
      margin: 0;
    }
    &__content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .wrapper {
    padding: 0 10px;
  }   
}