$bg: #fff;
$about: #243f4d;

%DMSans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%Poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%Rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%Rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%link-arrow-btn {
  display: inline-block;
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 64px;
  color: #436372;
  padding: 0 60px 0 25px;
  min-width: 184px;
  background-color: transparent;
  border: 1px solid rgba(67, 99, 114, 0.4);
  border-radius: 5px;
  margin-right: auto;
  position: relative;
  transition: all .3s;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}