@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    font-size: 36px;
    @extend %Rubik-500;
    color: #436372;
    padding-left: 10px;
  }
}

.menu {
  &__list {
  display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    font-size: 15px;
    @extend %Rubik-500;
    color: #436372;
    transition: all .3s;
    position: relative;
    &:hover {
    font-weight: 700;
    }
  }
  &__list-link--active {
    font-weight: 700;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    @extend %DMSans-400;
    color: #243f4d;
    z-index: 1;
    top: 9px;
    right: 7px;
  }
  &__link-search {
    background-color: #edf1f4;
  }
  &__link-user-menu {
    background-color: #a3bbc8;
  }
  &__inner {
    width: 178px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 20px;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      top: 9px;
    }
  }
}

.footer-top {
  padding: 80px 0 78px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 200px;
    margin-right: 98px;
  }
  &__nav {
    width: 125px;
    margin-right: 175px;
  }
  &__logo {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  &__title {
    margin-bottom: 18px;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__item-newsletter {
    max-width: 275px;
  }
  &__address,
  &__phone,
  &__email,
  &__link,
  &__text {
    display: block;
    @extend %Rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  &__form {
    display: flex;
    padding-top: 25px;
  }
  &__form-input {
    width: 170px;
    height: 38px;
    padding: 15px;
    background-color: #fcd7b6;
    border: none;
    &::placeholder {
      @extend %DMSans-400;
      font-size: 12px;
      line-height: 38px;
      color: #234969;
    }
  }
  &__form-btn {
    background-color: #a3bbc8;
    width: 100px;
    height: 38px;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 38px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all .3s;
  }
  &__form-btn:hover {
    background-color: #a5c7da;
  } 
  &__form-btn:active {
    background-color: #92abb9;
  } 
}

.footer-bottom {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copyright {
    font-size: 14px;
    @extend %Rubik-400;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__menu-list {
    display: flex;
  }
  &__menu-item {
    padding: 0 15px;
    border-right: 2px solid #7b7b7b;
    cursor: pointer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
  &__menu-link {
    @extend %Rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 16px;
  }
}

.top-slider {
  &__inner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 180px 45px 300px;
    background-color: #fcd7b6;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-top: 120px;
  }
  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 385px;
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 60px;
    color: #ffffff;
    padding: 0 60px 0 25px;
    min-width: 200px;
    background-color: #a3bbc8;
    display: inline-block;
    position: relative;
    transition: all .3s;
  }
  &__link:hover {
    background-color: #a5c7da;
  }
  &__link:active {
    background-color: #92abb9;
  }
  &__link-arrow {
    position: absolute;
    right: 20px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  & button {
    @extend %Rubik-500;
    font-size: 11px;
    line-height: 30px;
    color: #243f4d;
    width: 30px;
    height: 30px;
    background-color: #fde3cc;
    border: none;
    border-radius: 50%;
    margin: 0 6px;
  }
  & button:hover {
    background-color: #fff;
    color: #243f4d;
  }
}
.slick-active {
  & button {
    background-color: #fff;
    color: #243f4d;
  }
}

.features {
  &__inner {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-around;  
    padding: 45px 0 45px;
  }
  &__item {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 213px;
    width: 100%;
  }
  &__img {
    margin-top: 10px;
  }
  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    text-align: left;
  }
  &__text {
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 30px; 
    text-align: left;
  }
}

.products {
  &__inner {
    padding: 55px 0 110px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__list-item + .products__list-item {
    margin-left: 30px;
  }
  &__list-link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    line-height: 1.2;
    border: none;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;
  }
  &__list-link--active,
  &__list-link:hover {
    color: #1a1a1a;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  &__item {
    padding: 30px 15px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item-img-box {
    height: 205px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &:hover .products__item-link {
      transform: translateY(0);
    }
  }
  &__item-title {
    @extend %DMSans-500;
    color: #243f4d;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 14px;
  }  
  &__item-price {
    @extend %DMSans-700;
    font-size: 16px;
    color: #a3bbc8;
    line-height: 1.2;
    text-align: center;
  }
  &__item-link-box {
    height: 45px;
    width: 174px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 73%;
    margin: 0 auto;
  }
  &__item-link {
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(200%);
    transition: all .3s;
  }
  &__item-link:hover {
    background-color: #a3bbc8;
  }
  &__item-link:hover svg path{
    fill:rgb(255, 255, 255);
  }
}

.features2 {
  padding: 80px 0 50px;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 870px;
    width: 100%;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
  }
  &__item + .features2__item {
    margin-left: 30px;
  }
  &__content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 26px;
    @extend %DMSans-700;
    color: #243f4d;
    line-height: 1.23;
    text-align: left;
    max-width: 330px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 16px;
    @extend %Rubik-400;
    color: #243f4d;
    line-height: 1.87;
    text-align: left;
    max-width: 331px;
    margin-bottom: 25px;
  }
  &__img {
    margin: -95px 0 85px;
  }
  &__link {
    @extend %link-arrow-btn;
  }
  &__link:hover {
    border: 1px solid rgba(67, 99, 114, 1);
  }
  &__link:active {
    border: 1px solid rgba(67, 99, 114, 0.2);
  }
  &__link-arrow {
    position: absolute;
    right: 20px;
  }
}

.category {
  &__inner {
    padding: 55px 0 110px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__list-item + .category__list-item {
    margin-left: 30px;
  }
  &__list-link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    line-height: 1.2;
    border: none;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;
  }
  &__list-link--active,
  &__list-link:hover {
    color: #1a1a1a;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 34px;
  }
  &__item {
    display: block;
    background-color: #f8f8f8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 245px;
  }
  &__item-title {
    font-size: 16px;
    color: #1a1a1a;
    text-align: left;
    margin: 43px 0 10px 37px;
    max-width: 160px;
  }
  &__item-subtitle {
    font-size: 16px;
    font-family: "DMSans-Bold";
    color: #a3bbc8;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-left: 37px;
  }
}

.video {
  min-height: 501px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__play-btn-box, 
  &__play-btn-circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play-btn-box {
    width: 127px;
    height: 127px;
    background-color: rgba(163, 187, 200, 0.4);
  }
  &__play-btn-circle {
    width: 98px;
    height: 98px;
    background-color: rgb(163, 187, 200);
  }
}

.blog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
  }
  &__top-title {
    text-align: left;
  }
  &__top-link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #262626;
    line-height: 1.2;
    text-align: center;
    padding-right: 23px;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/icons/right-angle-bracket.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 7px;
      height: 12px;
      right: 0;
      top: 3.3px;
    }
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 370px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
  }
  &__item--news::after {
    position: absolute;
    content: 'NEWS';
    width: 103px;
    height: 30px;
    border-radius: 15px;
    background-color: #a3bbc8;
    @extend %Poppins-700;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    left: 30px;
    top: 230px;
  }
  &__img-box {
    height: 250px;
  }
  &__content {
    padding: 30px 30px 25px;    
  }
  &__text {
    font-size: 18px;
    @extend %DMSans-500;
    color: #262626;
    line-height: 1.2;
    text-align: left;
  }
  &__info {
    border-top: 1px solid #e0e0e0;
    margin-top: 15px;
    padding-top: 10px;

  }
  &__data {
    margin-right: 25px;
  }

  &__data,
  &__author {
    @extend %Rubik-500;
    font-size: 12px;
    color: #222933;
    line-height: 2.5;
    text-align: center;
    display: inline-block;
  }
  &__icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
  }
}

.partners {
  margin-top: -170px;
  padding-top: 170px;
  z-index: -1;
  background-color: rgba(252, 215, 182, .2);
  &__list {
    height: 267px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
  
.top {
  background-color: #edf1f4;
  padding: 40px 0 33px;
  &__title {
    @extend %Rubik-300;
    font-size: 36px;
    color: #222933;
    line-height: 0.667;
    text-align: center;
    margin-bottom: 10px;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    padding: 0 10px;
    position: relative;
    &::before {
      position: absolute;
      content: '/';
      @extend %Rubik-400;
      font-size: 14px;
      color: rgba(34, 41, 51, 0.6);
      top: 4px;
      right: -4px;
    }
    &:last-child::before {
      display: none;
    }
  }
  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    color: rgba(34, 41, 51, 0.6);
    line-height: 1.714;
    text-align: center;
  }
}

.about-main {
  padding: 60px 0;
  color: #243f4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h3 {
    color: #243f4d;
  }
  &__img-box {
    max-width: 570px;
    width: 100%;
    margin-right: 30px;
  }
  &__content-box {
    padding: 80px 0 80px 10px;
    max-width: 570px;
  }
  &__title-box {
    display: flex;
    align-items: center;
  }
  &__digi-subtitle {
    @extend %Rubik-700;
    font-size: 140px;
    color: #a3bbc8;
    line-height: 1.2;
  }
  &__subtitle-box {
    padding: 20px 0 0 20px;
  }
  &__subtitle {
    @extend %Rubik-400;
    font-size: 16px;
    font-family: "Rubik";
    line-height: 1.875;
  }
  &__title {
    text-align: left;
    padding: 10px 0 20px;
  }
  &__text {
    margin-bottom: 65px;
  }
  &__info-box {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: rgb(9, 49, 111);
      opacity: 0.102;
      width: 500px;
      height: 3px;
      left: 0;
      top: 0px;
    }
  }
  &__info-item + .about__info-item {
    margin-left: 20px;
  }
  &__info-item {
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 37px;
      height: 38px;
      top: 50%;
      transform: translateY(-50%);
      left: -35px;
      background-repeat: no-repeat;
      background-image: url(../images/icons/sheet.svg);
    }
  }
  &__info-item--megaphone {
    &::before {
      width: 44px;
      height: 40px;
      background-image: url(../images/icons/megaphone.svg);
    }
  }
  &__info-item--medal {
    &::before {
      width: 43px;
      height: 42px;
      background-image: url(../images/icons/medal.svg);
    }
  }
  &__info-text {
    @extend %DMSans-700;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 1.063;
  }
}

.about-stat {
  background-color: rgb(252, 215, 182);
  &__inner {
    padding: 171px 0 84px;
    display: flex;
    justify-content: space-around;
  }
  &__item {
    position: relative;
    &::before {
    position: absolute;
    content: '';
    width: 74px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;  
    bottom: 95px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/rate.svg);
    }
  }
  &__item--deliver {
    &::before {
    width: 73px;
    height: 52px;
    background-image: url(../images/icons/deliver.svg);
    }
  }
  &__item--time {
    &::before {
    width: 78px;
    height: 64px;
    background-image: url(../images/icons/time.svg);
    }
  }
  &__item--store {
    &::before {
    width: 60px;
    height: 64px;
    background-image: url(../images/icons/store.svg);
    }
  }

  &__title {
  color: #243f4d;
  padding-bottom: 5px;
  }
  &__text {
  font-size: 18px;
  @extend %DMSans-700;
  color: #243f4d;
  font-weight: bold;
  line-height: 1.778;
  }
}

.team {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 60px;
  }
  &__description {
    max-width: 300px;
  }
  &__title {
  color: #243f4d;
  text-align: left;
  margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__btn {
    @extend %Poppins-700;
    font-size: 15px;
    line-height: 50px;
    color: #ffffff;
    padding: 0 50px 0 20px;
    min-width: 170px;
    background-color: #a3bbc8;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    transition: all .3s;
  }
  &__btn:hover {
    background-color: #a5c7da;
  }
  &__btn:active {
    background-color: #92abb9;
  }
  &__btn-arrow {
    position: absolute;
    right: 25px;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 770px;
  }
  &__img {
    background-color: #dfdfdf;
    width: 370px;
    height: 320px;
  }
  &__item-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    width: 325px;
    min-height: 111px;
    transform: translateY(-50px);
    padding: 30px 24px;
    display: flex;
    justify-self: center;
  }
  &__item-text {
    max-width: 180px;
    width: 100%;
  }
  &__name {
  @extend %DMSans-700;
  font-size: 22px;
  color: #436372;
  line-height: 1.182;
  }
  &__profession {
  color: #565872;
  line-height: 1.875;
  text-align: left;
  }
  &__item-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social-link {
    height: 41px;
    height: 41px;
    margin: 5px;
  }
}

.terms {
  padding: 50px 0 80px;
  &__title {
    @extend %Rubik-500;
    font-size: 24px;
    color: #243f4d;
    line-height: 1.667;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  &__list {
    list-style-type: decimal-leading-zero;
    margin-left: 30px;
  }
  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    color: #243f4d;
    line-height: 1.8;
    margin-bottom: 18px;
  }
}  

.login {
  padding: 100px 0 120px;
  &__form {
    margin: 0 auto;
    max-width: 470px;
  }
  &__form-label,
  &__form-input,
  &__text,
  &__link-pass {
    @extend %Rubik-400;
    font-size: 14px;
    color: #436372;
    line-height: 23px;
  }
  &__form-input {
    margin: 10px 0 30px;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 56px;
    padding: 10px;
    line-height: 56px;
  }
  &__form-btn {
    margin-bottom: 30px;
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 60px;  
    color: #fffefe;
    text-align: center;
    height: 60px;
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    cursor: pointer;
    transition: all .3s;
    &:hover {
    background-color: #a5c7da;
    }
    &:active {
    background-color: #92abb9;
    }
  }  
  &__form-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  &__link-pass {
    transition: all 0.3s;
    &:hover {
      color: #243f4d;
    }
  }
  &__text {
    text-align: center;
  }
  &__link-reg {
    display: inline-block;
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 52px;
    color: #243f4d;
    text-align: center;
    width: 100%;
    height: 56px;
    border: 2px solid #a3bbc8;
    margin-top: 30px;
    transition: all .3s;
    &:hover {
    background-color: #edf1f4;
    }
    &:active {
    background-color: #cedbe4;
    }
  }
}

.partners__login-page {
  margin-top: 0;
  padding-top: 0;
}

.shop {
  padding: 120px 0 0;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 270px;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    margin-bottom: 60px;
  }
  &__title {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 18px;
    color: #243f4d;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: '';
      background-color: #a3bbc8;
      position: absolute;
      width: 39px;
      height: 3px;
      top: 8px;
      right: -56px;
    }
  }
  input[type="checkbox"] {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }
  &__label {
    @extend %Rubik-400;
    font-size: 16px;
    color: #243f4d;
    cursor: pointer;
  }
}

.filter-category {
  &__label {
    display: block;
  }
  &__checkbox {
    display: inline-block;
    width: 5px;
    height: 10px;
    background-image: url('../images/icons/angle-right-filter.svg');
  }
  &__box {
    padding: 10px 20px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input:checked + .filter-category__box {
    background-color: #edf1f4;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  &__to-box {
    padding-right: 5px;
  }
}
.irs--flat .irs-handle {
  height: 15px;
  width: 15px;
  top: 5px;
  background-color: #a3bbc8;
  cursor: pointer;
  & > i:first-child {
    display: none;
  }
}
.irs--flat .irs-bar {
  top: 10px;
  height: 4px;
  background-color: #a3bbc8;
}
.irs--flat .irs-line {
  background-color: #a3bbc8;
  opacity: 0.659;
  height: 3px;
  top: 10.5px;
}
.irs-single,
.irs-from,
.irs-to,
.irs-min,
.irs-max {
  display: none;
}

.filter-brand{
  &__quantity {
    color: #b3b3b3;
  }
  &__input:checked + .filter-brand__box {
    background-color: #edf1f4;
  }
  &__input:checked + .filter-brand__box .filter-brand__quantity {
    color: #243f4d;
  }
  &__box {
    padding: 10px 20px 10px 12px;
    display: flex;
    justify-content: space-between;
  }
}

.recent-products {
  &__header {
    margin-bottom: 35px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  &__img-box {
    width: 90px;
    height: 67px;
    display: flex;
    justify-content: center;
    border: 2px solid #f2f2f2;
  }
  &__content {
    // max-width: 110px;
    width: 100%;
    margin-left: 25px;

  }
  &__title {
    font-size: 14px;
    text-align-last: left;
    margin-bottom: 11px;
  }
  &__price {
    font-size: 15px;
  }
}
.star {
  margin-bottom: 5px;
}
.jq-ry-container {
   padding: 0;
}

.shop__content {
  & .products__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pagination {
  margin-top: 108px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  &__prev,
  &__next,
  &__link {
    display: inline-block;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.875;
    color: #243f4d;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    min-width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    &:hover {
      color: #fff;
      background-color: #a3bbc8;
    }
    &:active {
      background-color: #77878f;
    }
  }
  &__prev, 
  &__next {
    margin: 0 8px;
    padding: 0 14px;
  }
  &__prev {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    margin: 0 8px;
  }
  &__link--active {
    color: #fff;
    background-color: #a3bbc8;
  }
}


.productslist2 {
  &__items {
    display: block;
  }
  &__item {
    display: flex;
    box-shadow: none;
  }
  &__item-link-box {
    display: none;
  }
  &__item-img-box {
    height: 338px;
    width: 323px;
    background-color: #fefefe;
    border: 2px solid #f2f2f2;
  }
  &__item-img {
    width: 100%;
  }
  &__content {
    margin-left: 80px;
  }
  &__item-title {
    @extend %Rubik-400;
    font-size: 40px;
    color: #333333;
    line-height: 0.661;
    text-align: left;
    margin-bottom: 30px;
  }
  &__star {
    margin-bottom: 20px;
  }
  &__item-price {
    display: none;
  }
  &__item-price-new {
    @extend %Rubik-400;
    font-size: 30px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 16px;
    @extend %Rubik-400;
    color: #243f4d;
    line-height: 1.875;
    left: 1105.187px;
    max-width: 406px;
    margin-bottom: 40px;
  }
  &__item-link-box2 {
    width: 100px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
  }
  &__item-link {
    transform: translateY(0);
    border-radius: 0;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover {
    background-color: rgb(163, 187, 200);
     }
  }
}

.product-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 550px;
  &__left-box {
    max-width: 140px;
    margin-right: 35px;
  }
  &__thumb-item {
    height: 160px;
    margin-bottom: 30px;
    & img {
      // width: 140px;
      height: 160px;
      object-fit: contain;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  &__right-box {
    max-width: 380px;
  }
  &__big-item {
    & img {
      // width: 380px;
      // height: 530px;
      object-fit: cover;
      margin: 0 auto;      
    }
  }
}

.product-page {
  padding-top: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
  @extend %Rubik-400;
  font-size: 40px;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
  }
  &__price {
  @extend %Rubik-400;
  font-size: 30px;
  color: #333;
  line-height: 1.5;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__form {
    margin-bottom: 50px;
  }
  &__input {

  }
  &__btn {
    @extend %Rubik-400;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #a3bbc8;
    min-width: 208px;
    height: 53px;
    border: none;
  }
  &__list-item {
    @extend %Rubik-400;
    font-size: 16px;
    color: #243f4d;
    line-height: 1.875;
    text-align: left;
  }
}

.jq-number {
    position: relative;
    // vertical-align: middle;
    // padding: 0 36px 0 0;
    margin-right: 15px;
}
.jq-number__field {
    width: 150px;
    border: 1px solid #a3bbc8;
}
.jq-number__field input {
    @extend %Rubik-400;
    font-size: 15px;
    color: #333;  
    text-align: center;
    width: 100%;
    line-height: 48px;
    border: none;
    // padding: 8px 9px;
}
.jq-number__spin {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    cursor: pointer;
    width: 48px;
    height: 51px;
}
.jq-number__spin.minus {
    border-right: 1px solid #a3bbc8;
}
.jq-number__spin.plus {
    right: 0;
    left: auto;
    border-left: 1px solid #a3bbc8;
}
.jq-number__spin.minus:before,
.jq-number__spin.plus:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 18px;
    width: 12px;
    height: 2px;
    border: none;
    background: #666;
} 
.jq-number__spin.plus:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 23px;
    width: 2px;
    height: 12px;
    border: none;
    background: #666;
}

.product-tabs {
  padding-bottom: 100px;
  &__top {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  &__top-item {
    @extend %Rubik-500;
    font-size: 18px;
    color: #243f4d;
    line-height: 53px;
    text-align: center;
    border-radius: 5px;
    background-color: #edf1f4;
    width: 241px;
  }
  &__top-item + .product-tabs__top-item {
    margin-left: 13px;
  }
  &__top-item--active {
    color: #fff;
    background-color: #a3bbc8;
  }
  &__content-item {
    display: none;
  }
  &__content-item--active {
    display: block;
  }
}

.product-related {
  margin-bottom: 100px;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
    position: relative;
  }
  &__title {
    color: #243f4d;
  }
  & button {
    position: absolute;
    top: -110px;
    right: 0;
    background-color: #ffffff;
    border-width: 2px;
    border-color: rgb(163, 187, 200);
    border-style: solid;
    border-radius: 5px;
    width: 46px;
    height: 46px;
    background-image: url('../images/icons/shape-left.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  & .slick-prev {
    right: -66px;
    background-image: url('../images/icons/shape-right.svg');
  }
  & .slick-disabled {
    border-color: #edf1f4;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
  & .products__item {
    width: 270px;
  }
}

.blog-page {
  padding: 120px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 830px;
    margin-right: 70px;
  }  
  &__content-item {
    margin-bottom: 50px;
  }
  &__content-img {
    width: 830px;
    object-fit: cover;
  }
  &__content-info {
    display: inline-flex;
    justify-content: center;
    padding: 28px 30px 28px 22px;
    @extend %Rubik-400;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    height: 71px;
    transform: translateY(-71px);
    background-color: #a3bbc8;
  }
  & .blog__icon {
    margin-right: 5px;
  }
  &__content-date {
    margin-right: 22px;
  }
  &__content-author {
    @extend %Rubik-400;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  &__content-title {
    @extend %Rubik-400;
    font-size: 36px;
    color: #333333;
    line-height: 0.734;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 22px;
  }
  &__content-text {
    margin-bottom: 28px;
  }
  &__content-btn {
    @extend %link-arrow-btn;
    color: #a3bbc8;
    & svg {
      path {
        fill: #a3bbc8;
      }
    }
  }
  & .pagination {
    justify-content: start;
    margin: 75px 0 0 -8px;
  }
  &__search-form {
    position: relative;
    margin-bottom: 60px;
  }
  &__search-input {
    border: 1px solid #eef2f5;
    border-radius: 5px;
    line-height: 40px;
    font-size: 16px;
    color: #243f4d;
    @extend %Rubik-400;
    padding: 0 64px 0 14px;
    width: 100%;
  }
  &__search-btn {
    border-radius: 5px;
    background-color: #edf1f4;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.recent-posts {
  &__item {
    display: flex;
    margin-bottom: 20px;
  }
  &__img-link {
    display: block;
    min-width: 71px;
    margin-right: 20px;
    & img {
      width: 71px;
      height: 71px;
      object-fit: cover;
    }
  }  
  &__subtitle {
    @extend %Rubik-400;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
  }
  &__date {
    @extend %Rubik-400;
    font-size: 12px;
    color: #d7d7d7;
    text-transform: uppercase;
  }
}

.blog-one {
  p {
    @extend %Rubik-400;
    font-size: 16px;
    color: #565872;
    line-height: 1.875;
    text-align: left;
    margin-bottom: 20px;
  }
  strong {
    display: inline-block;
  }
  blockquote {
    font-size: 16px;
    @extend %Rubik-400;
    color: #243f4d;
    line-height: 1.875;
    text-align: left;
    background-color: #edf1f4;
    padding: 20px 34px;
    border-left: 6px solid #a3bbc8;
    margin-bottom: 40px;
  }
  cite {
    display: block;
    font-style: normal;
    padding-left: 46px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-25%);
      background-color: rgb(163, 187, 200);
      width: 20px;
      height: 4px;
    }
  }
  &__left-img {
    float: left;
    margin-right: 31px;
    margin-bottom: 20px;
  }
  &__right-img {
    float: right;
    margin-left: 31px;
    margin-bottom: 10px;
  }
  h5 {
    @extend %Rubik-500;
    font-size: 18px;
    color: #243f4d;
    line-height: 1.667;
    text-align: left;
    padding: 20px 0;
  }
  &__info-box {
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    padding: 25px 0;
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
  }
  &__author-box {
    display: flex;
  }
  &__author-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 28px;
  }
  &__author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__author-name {
    font-size: 18px;
    @extend %Rubik-400;
    color: #333;
    line-height: 1.384;
    margin-bottom: 5px;
  }
  &__author-position {
    font-size: 16px;
    @extend %Rubik-400;
    color: #666;
    line-height: 1.875;
    text-align: left;
  }
  &__tags-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__tags,
  &__tags-share {
    font-size: 16px;
    @extend %Rubik-400;
    color: #333;
    line-height: 1.625;
  }
  &__tags {
    margin-bottom: 5px;
    span {
      margin-right: 30px;
    }
  }
  &__tags-link {
    color: #a1a1a1;
    &:hover {
      color: #333333;
    }
  }
  &__tags-share {
    span {
      margin-right: 20px;
    }
  }
  &__share-link {
    margin-right: 15px;
    path {
      fill: #a1a1a1;
    }
    &:hover {
      path {
      fill: #333;
      }
    }
  }
  &__form {
    padding: 30px 0;
  }
  &__form-title {
    font-size: 24px;
    @extend %Rubik-700;
    color: #436372;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  &__form-input-box {
    display: flex;
    justify-content: space-between;
  }
  &__form-input,
  &__form-textarea {
    font-size: 16px;
    @extend %Rubik-400;
    color: #333;
    padding: 13px 55px 13px 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: right 15px center;
    &::placeholder {
      color: #999;
    }
    &:focus {
      border: 1px solid #a3bbc8;
    }
  }
  &__form-input {
    width: 48%;
    margin-bottom: 22px;
    &--name {
      background-image: url('../images/icons/user.svg');
    }
    &--email {
      background-image: url('../images/icons/email.svg');
    }
  }
  &__form-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
    background-image: url('../images/icons/textarea.svg');
    background-position: right 15px top 15px;
  }
  &__form-btn {
    font-size: 14px;
    @extend %Rubik-400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #a3bbc8;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
  }
}

.comments {
  &__title, {
    font-size: 24px;
    @extend %Rubik-700;
    color: #436372;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  &__item {
    display: flex;
    position: relative;
    padding: 30px 0;
  }
  &__item + .comments__item::before {
    position: absolute;
    content: '';
    // display: block;
    background-color: #e0e0e0;
    // width: 699px;
    width: 84%;
    height: 1px;
    right: 0;
    top: 0;
  }
  &__item:nth-child(odd) {
    padding-left: 130px;
  } 
  &__img {
    width: 100px;
    height: 100px;
    margin-top: 3px;
    margin-right: 30px;
    & img {
      width: 100px;
      height: 100px;
      max-width: none;
      object-fit: cover;
    }
  }
  &__info-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__author {
    @extend %Rubik-700;
    color: #436372;
    line-height: 1.2;
  }
  &__date {
    font-size: 14px;
    color: #9e9e9e;
    line-height: 1.2;
    text-align: right;
  }
  &__text {
    color: #565872;
    margin-bottom: 10px;
  }
  &__reply-link {
    font-size: 14px;
    @extend %Rubik-400;
    color: #526278;
    &:hover {
      color: #333;
    }
    svg {
      transform: translateY(6px);
      padding-left: 3px;
      path {
        fill: #526278;
      }
      &:hover {
        path {
        fill: #333;
        }
      }
    }
  }
}





@import 'media';

