@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    font-size: 36px;
    @extend %Rubik-500;
    color: #436372;
    padding-left: 10px;
  }
}

.menu {
  &__list {
  display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    font-size: 15px;
    @extend %Rubik-500;
    color: #436372;
    transition: all .3s;
    position: relative;
    &:hover::after {
      content: '+';
      position: absolute;
      top: 0;
      right: -12px;
    }
  }
  &__list-link--active::after {
    content: '+';
    position: absolute;
    top: 0;
    right: -12px;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    @extend %DMSans-400;
    color: #243f4d;
    z-index: 1;
    top: 9px;
    right: 7px;
  }
  &__link-search {
    background-color: #edf1f4;
  }
  &__link-user-menu {
    background-color: #a3bbc8;
  }
  &__inner {
    width: 178px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 20px;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      top: 9px;
    }
  }
}

.footer-top {
  padding: 80px 0 78px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 200px;
    margin-right: 98px;
  }
  &__nav {
    width: 125px;
    margin-right: 175px;
  }
  &__logo {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  &__title {
    margin-bottom: 18px;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__item-newsletter {
    max-width: 275px;
  }
  &__address,
  &__phone,
  &__email,
  &__link,
  &__text {
    display: block;
    @extend %Rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  &__form {
    display: flex;
    padding-top: 25px;
  }
  &__form-input {
    width: 170px;
    height: 38px;
    padding: 15px;
    background-color: rgb(252, 215, 182);
    border: none;
    &::placeholder {
      @extend %DMSans-400;
      font-size: 12px;
      line-height: 38px;
      color: #234969;
    }
  }
  &__form-btn {
    background-color: rgb(163, 187, 200);
    width: 100px;
    height: 38px;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 38px;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}

.footer-bottom {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copyright {
    font-size: 14px;
    @extend %Rubik-400;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__menu-list {
    display: flex;
  }
  &__menu-item {
    padding: 0 15px;
    border-right: 2px solid #7b7b7b;
    cursor: pointer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
  &__menu-link {
    @extend %Rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 16px;
  }
}

.top-slider {
  &__inner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 180px 45px 300px;
    background-color: #fcd7b6;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-top: 120px;
  }
  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 385px;
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 60px;
    color: #ffffff;
    padding: 0 60px 0 25px;
    min-width: 200px;
    background-color: #a3bbc8;
    display: inline-block;
    position: relative;
  }
  &__link-arrow {
    position: absolute;
    right: 20px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  & button {
    @extend %Rubik-500;
    font-size: 11px;
    line-height: 30px;
    color: #243f4d;
    width: 30px;
    height: 30px;
    background-color: #fde3cc;
    border: none;
    border-radius: 50%;
    margin: 0 6px;
  }
  & button:hover {
    background-color: #fff;
    color: #243f4d;
  }
}
.slick-active {
  & button {
    background-color: #fff;
    color: #243f4d;
  }
}

.features {
  &__inner {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-around;  
    padding: 45px 0 45px;
  }
  &__item {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 213px;
    width: 100%;
  }
  &__img {
    margin-top: 10px;
  }
  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    text-align: left;
  }
  &__text {
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 30px; 
    text-align: left;
  }
}

.products {
  &__inner {
    padding: 55px 0 110px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__list-item + .products__list-item {
    margin-left: 30px;
  }
  &__list-link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    line-height: 1.2;
  }
  &__list-link--active,
  &__list-link:hover {
    color: #1a1a1a;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  &__item {
    padding: 30px 15px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item-img-box {
    height: 205px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &:hover .products__item-link {
      transform: translateY(0);
    }
  }
  &__item-title {
    @extend %DMSans-500;
    color: #243f4d;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 14px;
  }  
  &__item-price {
    @extend %DMSans-700;
    font-size: 16px;
    color: #a3bbc8;
    line-height: 1.2;
    text-align: center;
  }
  &__item-link-box {
    height: 45px;
    width: 174px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 73%;
    margin: 0 auto;
  }
  &__item-link {
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(200%);
    transition: all .3s;
  }
  &__item-link:hover {
    background-color: #a3bbc8;
  }
  &__item-link:hover svg path{
    fill:rgb(255, 255, 255);
  }
}

.features2 {
  padding: 80px 0 50px;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 870px;
    width: 100%;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
  }
  &__item + .features2__item {
    margin-left: 30px;
  }
  &__content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 26px;
    @extend %DMSans-700;
    color: #243f4d;
    line-height: 1.23;
    text-align: left;
    max-width: 330px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 16px;
    @extend %Rubik-400;
    color: #243f4d;
    line-height: 1.87;
    text-align: left;
    max-width: 331px;
    margin-bottom: 25px;
  }
  &__img {
    margin: -95px 0 85px;
  }
  &__link {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 64px;
    color: #436372;
    padding: 0 60px 0 25px;
    min-width: 184px;
    background-color: transparent;
    border: 1px solid rgba(67, 99, 114, 0.4);
    border-radius: 5px;
    margin-right: auto;
    position: relative;
  }
  &__link-arrow {
    position: absolute;
    right: 20px;
  }
}

.category {
  &__inner {
    padding: 55px 0 110px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__list-item + .category__list-item {
    margin-left: 30px;
  }
  &__list-link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    line-height: 1.2;
  }
  &__list-link--active,
  &__list-link:hover {
    color: #1a1a1a;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 34px;
  }
  &__item {
    display: block;
    background-color: #f8f8f8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 245px;
  }
  &__item-title {
    font-size: 16px;
    color: #1a1a1a;
    text-align: left;
    margin: 43px 0 10px 37px;
    max-width: 160px;
  }
  &__item-subtitle {
    font-size: 16px;
    font-family: "DMSans-Bold";
    color: #a3bbc8;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-left: 37px;
  }
}

.video {
  min-height: 501px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__play-btn-box, 
  &__play-btn-circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play-btn-box {
    width: 127px;
    height: 127px;
    background-color: rgba(163, 187, 200, 0.4);
  }
  &__play-btn-circle {
    width: 98px;
    height: 98px;
    background-color: rgb(163, 187, 200);
  }
}










@import 'media';

