@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    font-size: 36px;
    @extend %Rubik-500;
    color: #436372;
    padding-left: 10px;
  }
}

.menu {
  &__list {
  display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    font-size: 15px;
    @extend %Rubik-500;
    color: #436372;
    transition: all .3s;
    position: relative;
    &:hover::after {
      content: '+';
      position: absolute;
      top: 0;
      right: -12px;
    }
  }
  &__list-link--active::after {
    content: '+';
    position: absolute;
    top: 0;
    right: -12px;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    @extend %DMSans-400;
    color: #243f4d;
    z-index: 1;
    top: 9px;
    right: 7px;
  }
  &__link-search {
    background-color: #edf1f4;
  }
  &__link-user-menu {
    background-color: #a3bbc8;
  }
  &__inner {
    width: 178px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 20px;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      top: 9px;
    }
  }
}

.footer-top {
  padding: 80px 0 78px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 200px;
    margin-right: 98px;
  }
  &__nav {
    width: 125px;
    margin-right: 175px;
  }
  &__logo {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  &__title {
    margin-bottom: 18px;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__item-newsletter {
    max-width: 275px;
  }
  &__address,
  &__phone,
  &__email,
  &__link,
  &__text {
    display: block;
    @extend %Rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  &__form {
    display: flex;
    padding-top: 25px;
  }
  &__form-input {
    width: 170px;
    height: 38px;
    padding: 15px;
    background-color: rgb(252, 215, 182);
    border: none;
    &::placeholder {
      @extend %DMSans-400;
      font-size: 12px;
      line-height: 38px;
      color: #234969;
    }
  }
  &__form-btn {
    background-color: rgb(163, 187, 200);
    width: 100px;
    height: 38px;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 38px;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}

.footer-bottom {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copyright {
    font-size: 14px;
    @extend %Rubik-400;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__menu-list {
    display: flex;
  }
  &__menu-item {
    padding: 0 15px;
    border-right: 2px solid #7b7b7b;
    cursor: pointer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
  
  &__menu-link {
    @extend %Rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 16px;
  }
}

.top-slider {
  background-color: #fcd7b6;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 180px 45px 300px;
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-top: 120px;
  }
  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 385px;
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 60px;
    color: #ffffff;
    padding: 0 60px 0 25px;
    min-width: 200px;
    background-color: #a3bbc8;
    display: inline-block;
    position: relative;
  }
  &__link-arrow {
    position: absolute;
    right: 20px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  & button {
    @extend %Rubik-500;
    font-size: 11px;
    line-height: 30px;
    color: #243f4d;
    width: 30px;
    height: 30px;
    background-color: #fde3cc;
    border: none;
    border-radius: 50%;
    margin: 0 6px;
  }
  & button:hover {
    background-color: #fff;
    color: #243f4d;
  }
}

.slick-active {
  & button {
    background-color: #fff;
    color: #243f4d;
  }
}






@import 'media';

