<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/blog.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="blog-page">
      <div class="wrapper">
        <div class="blog-page__container">
          <div class="blog-page__content">
            <div class="blog-page__content-item">
              <a class="blog-page__content-img" href="#">
                <img src="images/blog/page-1.jpg" alt="blog image">
              </a>
              <div class="blog-page__content-info">
                <div class="blog-page__content-date">
                  <i class="blog__icon">&#x1f4c5;</i>
                  28 JANUARY, 2020
                </div>
                <a class="blog-page__content-author" href="#">
                  <i class="blog__icon">&#xf2c0;</i>
                  BY ADMIN
                </a>
              </div>
              <a class="blog-page__content-link" href="#">
                <h4 class="blog-page__content-title">
                  Fonsectetur adipisicing eiusmod
                </h4>
              </a>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a href="#" class="features2__link blog-page__content-btn">
                View More
                <span class="features2__link-arrow">
                  <svg width="22px" height="9px">
                    <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                      d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                  </svg>
                </span>
              </a>
            </div>

            <div class="blog-page__content-item">
              <a class="blog-page__content-img" href="#">
                <img src="images/blog/page-2.jpg" alt="blog image">
              </a>
              <div class="blog-page__content-info">
                <div class="blog-page__content-date">
                  <i class="blog__icon">&#x1f4c5;</i>
                  28 JANUARY, 2020
                </div>
                <a class="blog-page__content-author" href="#">
                  <i class="blog__icon">&#xf2c0;</i>
                  BY ADMIN
                </a>
              </div>
              <a class="blog-page__content-link" href="#">
                <h4 class="blog-page__content-title">
                  Fonsectetur adipisicing elit,
                </h4>
              </a>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a href="#" class="features2__link blog-page__content-btn">
                View More
                <span class="features2__link-arrow">
                  <svg width="22px" height="9px">
                    <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                      d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                  </svg>
                </span>
              </a>
            </div>

            <div class="blog-page__content-item">
              <a class="blog-page__content-img" href="#">
                <img src="images/blog/page-3.jpg" alt="blog image">
              </a>
              <div class="blog-page__content-info">
                <div class="blog-page__content-date">
                  <i class="blog__icon">&#x1f4c5;</i>
                  28 JANUARY, 2020
                </div>
                <a class="blog-page__content-author" href="#">
                  <i class="blog__icon">&#xf2c0;</i>
                  BY ADMIN
                </a>
              </div>
              <a class="blog-page__content-link" href="#">
                <h4 class="blog-page__content-title">
                  Fsectetur adipisicing tempor incididunt
                </h4>
              </a>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a href="#" class="features2__link blog-page__content-btn">
                View More
                <span class="features2__link-arrow">
                  <svg width="22px" height="9px">
                    <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                      d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                  </svg>
                </span>
              </a>
            </div>

            <div class="blog-page__content-item">
              <a class="blog-page__content-img" href="#">
                <img src="images/blog/page-4.jpg" alt="blog image">
              </a>
              <div class="blog-page__content-info">
                <div class="blog-page__content-date">
                  <i class="blog__icon">&#x1f4c5;</i>
                  28 JANUARY, 2020
                </div>
                <a class="blog-page__content-author" href="#">
                  <i class="blog__icon">&#xf2c0;</i>
                  BY ADMIN
                </a>
              </div>
              <a class="blog-page__content-link" href="#">
                <h4 class="blog-page__content-title">
                  vonsectetur adipisicing elit
                </h4>
              </a>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a href="#" class="features2__link blog-page__content-btn">
                View More
                <span class="features2__link-arrow">
                  <svg width="22px" height="9px">
                    <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                      d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                  </svg>
                </span>
              </a>
            </div>
            <div class="pagination">
              <a class="pagination__prev" href="#">Prev</a>
              <ul class="pagination__list">
                <li class="pagination__item">
                  <a class="pagination__link pagination__link--active" href="#">1</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </li>
              </ul>
              <a class="pagination__next" href="#">Next</a>
            </div>
          </div>

          <div class="blog-page__aside">
            <div class="shop__filters filter">

              <form class="blog-page__search-form" action="#">
                <input type="text" class="blog-page__search-input">
                <button class="blog-page__search-btn" type="submit">
                  <img src="images/icons/search-linse.svg" alt="search icon">
                </button>
              </form>

              <div class="filter__item filter-category">
                <h3 class="filter__title">CATEGORY</h3>
                <form class="filter-category__form" action="#">
                  <label class="filter-category__label filter__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__box">
                      <span>Chair</span>
                      <span class="filter-category__checkbox"></span>
                    </div>
                  </label>
                </form>
                <form class="filter-category__form" action="#">
                  <label class="filter-category__label filter__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__box">
                      <span>Table</span>
                      <span class="filter-category__checkbox"></span>
                    </div>
                  </label>
                </form>
                <form class="filter-category__form" action="#">
                  <label class="filter-category__label filter__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__box">
                      <span>Lamp</span>
                      <span class="filter-category__checkbox"></span>
                    </div>
                  </label>
                </form>
                <form class="filter-category__form" action="#">
                  <label class="filter-category__label filter__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__box">
                      <span>Watch</span>
                      <span class="filter-category__checkbox"></span>
                    </div>
                  </label>
                </form>
                <form class="filter-category__form" action="#">
                  <label class="filter-category__label filter__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__box">
                      <span>Clock</span>
                      <span class="filter-category__checkbox"></span>
                    </div>
                  </label>
                </form>
              </div>

              <div class="recent-posts">
                <h3 class="recent-posts__title filter__title">
                  Recent Posts
                </h3>
                <div class="recent-posts__item">
                  <a class="recent-posts__img-link" href="#">
                    <img src="images/blog/aside-1.jpg" alt="">
                  </a>
                  <div class="recent-posts__content">
                    <a class="recent-posts__title-link" href="#">
                      <h5 class="recent-posts__subtitle">
                        Corem ipsum dolor tetur adipisicing elit
                      </h5>
                    </a>
                    <p class="recent-posts__date">
                      <i class="blog__icon">&#x1f4c5;</i>
                      28 JANUARY, 2020
                    </p>
                  </div>
                </div>
                <div class="recent-posts__item">
                  <a class="recent-posts__img-link" href="#">
                    <img src="images/blog/aside-2.jpg" alt="">
                  </a>
                  <div class="recent-posts__content">
                    <a class="recent-posts__title-link" href="#">
                      <h5 class="recent-posts__subtitle">
                        Fdipisicing elit, sed do eiusmod tempor
                      </h5>
                    </a>
                    <p class="recent-posts__date">
                      <i class="blog__icon">&#x1f4c5;</i>
                      28 JANUARY, 2020
                    </p>
                  </div>
                </div>
                <div class="recent-posts__item">
                  <a class="recent-posts__img-link" href="#">
                    <img src="images/blog/aside-3.jpg" alt="">
                  </a>
                  <div class="recent-posts__content">
                    <a class="recent-posts__title-link" href="#">
                      <h5 class="recent-posts__subtitle">
                        Eonsectetur adipisicing elit, sed do eiusmod
                      </h5>
                    </a>
                    <p class="recent-posts__date">
                      <i class="blog__icon">&#x1f4c5;</i>
                      28 JANUARY, 2020
                    </p>
                  </div>
                </div>
                <div class="recent-posts__item">
                  <a class="recent-posts__img-link" href="#">
                    <img src="images/blog/aside-4.jpg" alt="">
                  </a>
                  <div class="recent-posts__content">
                    <a class="recent-posts__title-link" href="#">
                      <h5 class="recent-posts__subtitle">
                        gnim ad minim veniam, quis nostrud
                      </h5>
                    </a>
                    <p class="recent-posts__date">
                      <i class="blog__icon">&#x1f4c5;</i>
                      28 JANUARY, 2020
                    </p>
                  </div>
                </div>
                
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="partners partners__login-page">
      <div class="wrapper">
        <ul class="partners__list partners__list--login-page">
          <li class="partners__item">
            <img src="images/partners/1.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/2.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/3.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/4.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/5.png" alt="partner logo">
          </li>
        </ul>
      </div>
    </div>

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>