<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/terms.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="terms">
      <div class="wrapper">
        <h4 class="terms__title">
          Types of Personal Information We Collect
        </h4>
        <ol class="terms__list">
          <li class="terms__list-item terms__text">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms__list-item terms__text">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms__list-item terms__text">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li class="terms__list-item terms__text">
            Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </li>
          <li class="terms__list-item terms__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </li>
        </ol>
        <h4 class="terms__title">
          How marketpmss.com Collects Personal Infonnation
        </h4>
        <p class="terms__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
        <h4 class="terms__title">
          How marketprosscom Uses Personal Information
        </h4>
        <p class="terms__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
      </div>
    </section>

    <section class="blog">
      <div class="wrapper">
        <div class="blog__top">
          <h3 class="blog__top-title">
            Our Insights & Articles
          </h3>
          <a class="blog__top-link" href="#">
            View All
          </a>
        </div>
        <div class="blog__items">
          <div class="blog__item blog__item--news">
            <a class="blog__img-box" href="#">
              <img src="images/blog/1.jpg" alt="blog image">
            </a>
            <div class="blog__content">
              <a class="blog__text" href="#">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </a>
              <div class="blog__info">
                <a class="blog__data" href="#">
                  <i class="blog__icon">&#x1f4c5;</i>
                  28 JANUARY, 2020
                </a>
                <a class="blog__author" href="#">
                  <i class="blog__icon">&#xf2c0;</i>
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
          <div class="blog__item blog__item--news">
            <a class="blog__img-box" href="#">
              <img src="images/blog/2.jpg" alt="blog image">
            </a>
            <div class="blog__content">
              <a class="blog__text" href="#">
                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              </a>
              <div class="blog__info">
                <a class="blog__data" href="#">
                  <i class="blog__icon">&#x1f4c5;</i>
                  28 JANUARY, 2020
                </a>
                <a class="blog__author" href="#">
                  <i class="blog__icon">&#xf2c0;</i>
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
          <div class="blog__item blog__item--news">
            <a class="blog__img-box" href="#">
              <img src="images/blog/3.jpg" alt="blog image">
            </a>
            <div class="blog__content">
              <a class="blog__text" href="#">
                Rncididunt ut labore et dolore magna aliqua. Ut enim
              </a>
              <div class="blog__info">
                <a class="blog__data" href="#">
                  <i class="blog__icon">&#x1f4c5;</i>
                  28 JANUARY, 2020
                </a>
                <a class="blog__author" href="#">
                  <i class="blog__icon">&#xf2c0;</i>
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="partners">
      <div class="wrapper">
        <ul class="partners__list">
          <li class="partners__item">
            <img src="images/partners/1.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/2.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/3.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/4.png" alt="partner logo">
          </li>
          <li class="partners__item">
            <img src="images/partners/5.png" alt="partner logo">
          </li>
        </ul>
      </div>
    </div>

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>