.blog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
  }
  &__top-title {
    text-align: left;
  }
  &__top-title--blue {
    color: #436372;
  }
  &__top-link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #262626;
    line-height: 1.2;
    text-align: center;
    padding-right: 23px;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/icons/right-angle-bracket.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 7px;
      height: 12px;
      right: 0;
      top: 3.3px;
    }
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
  &__top-link--blue {
    color: #436372;
    &::after {
      background-image: url(../images/icons/right-angle-bracket-blue.svg);
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 370px;
    background-color: #fff;
    border-radius: 5px;
    // position: relative;
  }
  // &__item--news::after {
  //   position: absolute;
  //   content: 'NEWS';
  //   width: 103px;
  //   height: 30px;
  //   border-radius: 15px;
  //   background-color: #a3bbc8;
  //   @extend %Poppins-700;
  //   font-size: 14px;
  //   line-height: 30px;
  //   color: #ffffff;
  //   text-align: center;
  //   left: 30px;
  //   top: 230px;
  // }
  &__img-box {
    height: 250px;
  }
  &__content {
    padding: 30px 30px 25px;
    position: relative;    
  }
  &__content::after {
    position: absolute;
    content: 'NEWS';
    width: 103px;
    height: 30px;
    border-radius: 15px;
    background-color: #a3bbc8;
    @extend %Poppins-700;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    left: 30px;
    top: -15px;
  }
  &__text {
    font-size: 18px;
    @extend %DMSans-500;
    color: #262626;
    line-height: 1.2;
    text-align: left;
  }
  &__info {
    border-top: 1px solid #e0e0e0;
    margin-top: 15px;
    padding-top: 10px;

  }
  &__data {
    margin-right: 25px;
  }

  &__data,
  &__author {
    @extend %Rubik-500;
    font-size: 12px;
    color: #222933;
    line-height: 2.5;
    text-align: center;
    display: inline-block;
  }
  &__icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
  }
}


@media (max-width: 1200px) {
  .blog {
    &__items {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      margin: 10px;
    }
  }
}
