.partners {
  margin-top: -170px;
  padding-top: 170px;
  z-index: -1;
  background-color: rgba(252, 215, 182, .2);
  &__list {
    height: 267px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
  

@media (max-width: 820px) {
  .partners {
    margin-top: 50px;
    padding-top: 10px;
    &__list {
      flex-wrap: wrap;
      height: auto;
    }
    &__item {
      margin: 20px 30px;
    }
  }
}